{% extends "index.html" %}
{% load rest_framework %}

    <style>
        label {
            font-size: 1.2em;
        }
        .result-card {
            margin-top: 20px;
        }
        .list-group-item {
            font-size: 1em;
             color: #E0E0E0;
        }
        li{
            background-color: #282828 !important;
        }
    </style>
{% block auth %}
    <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg border-0 result-card">
            <div class="card-body">
                <div class="card-body text-center">
                        <h2 class="card-title mb-4 text-primary">🔮 IOT FullHunt Search Engine</h2>
                        {% if status == "invalid" %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Zadejte doménu:</label>
                                {{ form.query|add_class:"form-control"}}
                            </div>
                            <button type="submit" class="btn btn-primary">Vyhledat</button>
                        </form>
                        {% endif %}
                    </div>
                {% if fullhunt_data %}
                {% if status == "success" %}
                <h4 class="text-primary mb-3">🔮 Zjištěné údaje:</h4>
                <ul class="list-group list-group-flush">
                    {% for item in fullhunt_data %}
                        <li class="list-group-item">
                            <h4><strong>Hostitel:</strong><span class="text-danger"> {{ item.host }}</span></h4>
                            <strong>Doména:</strong> {{ item.domain }}<br>
                            <strong>IP adresa:</strong> {{ item.ip_address }}<br>
                            <strong>Stav HTTP:</strong> {{ item.http_status_code }}<br>
                            <strong>Titulek stránky:</strong> {{ item.http_title }}<br>
                            <strong>Porty:</strong> {{ item.network_ports|join:", " }}<br>
                            <strong>Tagy:</strong> {{ item.tags|join:", " }}<br>

                            <hr>

                            <h5 class="text-secondary">DNS informace:</h5>
                            <strong>DNS Záznamy (A):</strong> {{ item.dns.a|join:", " }}<br>
                            <strong>DNS Záznamy (AAAA):</strong> {{ item.dns.aaaa|join:", " }}<br>
                            <strong>CNAME:</strong> {{ item.dns.cname|join:", " }}<br>
                            <strong>PTR:</strong> {{ item.dns.ptr|join:", " }}<br>

                            <hr>

                            <h5 class="text-secondary">Informace o síti:</h5>
                            <strong>ASN:</strong> {{ item.ip_metadata.asn }}<br>
                            <strong>ISP:</strong> {{ item.ip_metadata.isp }}<br>
                            <strong>Organizace:</strong> {{ item.ip_metadata.organization }}<br>
                            <strong>Město:</strong> {{ item.ip_metadata.city_name }}<br>
                            <strong>Země:</strong> {{ item.ip_metadata.country_name }}<br>
                            <strong>Region:</strong> {{ item.ip_metadata.region }}<br>
                            <strong>PSČ:</strong> {{ item.ip_metadata.postal_code }}<br>
                            <strong>Latitude:</strong> {{ item.ip_metadata.location_latitude }}<br>
                            <strong>Longitude:</strong> {{ item.ip_metadata.location_longitude }}<br>
                        </li>
                        {% endfor %}
                    </ul>
                {% elif status == "no_api" %}
                    <div class="mt-4 text-center">
                        <h4 class="mb-3">API nenalezeno!</h4>
                        <h5 class="mb-3">Vložte API do souboru <strong class="text-danger">api.env</strong></h5>
                    </div>
                {% elif status == "no_credits" %}
                <div class="mt-4 text-center">
                    <h4 class="mb-3">Žádné kredity!</h4>
                </div>
                {% elif status == "invalid_api" %}
                <div class="mt-4 text-center">
                    <h4 class="mb-3">Zadané API není platné</h4>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endif %}





{% endblock %}