{% extends "index.html" %}
{% block auth %}
    <title>FULLHUNT</title>
    <style>
        label{
            font-size: 1.2em;
        }
    </style>

    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4"> IOT Fullhunt Search Engine</h2>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label class="form-label">Zadejte domému:</label>
                            {{ form.query }}
                            </div>
                            <button type="submit" class="btn btn-primary">EXECUTE</button>
                        </form>
                    </div>

                    {% if fullhunt_data %}
                        <div class="mt-4 text-start">
                            <h4 class="text-primary">🔍 Zjištěné údaje:</h4>
                            <ul class="list-group">
                                <li class="list-group-item">{{ fullhunt_data }}</li>
                            </ul>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}