<!DOCTYPE html>
<html lang="en">
<head>
  <title>PUPPINT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
<ul class="nav bg-info">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/admin">Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/shodan/">Shodan</a>
    </li>
    <li class="nav-item">
    <a class="nav-link link-light" href="/sockpuppet/">Sock Puppet</a>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <h1>My First Bootstrap Page</h1>
  <p>This part is inside a .container-fluid class.</p>
  <p>The .container-fluid class provides a full width container, spanning the entire width of the viewport.</p>
</div>

</body>
</html>