{% extends "index.html" %}
{% load rest_framework %}

    <style>
        label{
            font-size: 1.2em;
        }

        .list-group-item {
            font-size: 1em;
             color: #E0E0E0;
        }
        li{
                background-color: #282828 !important;
                color: #E0E0E0;
        }
    </style>
{% block auth %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-4">🌍 IP Scanner</h2>
                        {% if not ipstack_info %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                            <label class="form-label" for="ip_address">Zadejte IP adresu:</label>
                            {{ form.ip_address|add_class:"form-control" }}
                            </div>
                            <button type="submit" class="btn btn-primary">Vyhledat</button>
                        </form>
                    </div>
                    {% endif %}

                    {% if ipstack_info %}
                        {% if status == "success" %}
                        <div class="mt-4 text-start">
                            <h4 class="text-primary">Zjištěné údaje:</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><strong>IP:</strong> {{ ipstack_info.ip }}</li>
                                <li class="list-group-item"><strong>Země:</strong> {{ ipstack_info.country }}</li>
                                <li class="list-group-item"><strong>Město:</strong> {{ ipstack_info.city }}</li>
                                <li class="list-group-item"><strong>Region:</strong> {{ ipstack_info.region }}</li>
                                <li class="list-group-item"><strong>ZIP:</strong> {{ ipstack_info.zip }}</li>
                                <li class="list-group-item"><strong>Zeměpisná šířka:</strong> {{ ipstack_info.latitude }}</li>
                                <li class="list-group-item"><strong>Zeměpisná výška:</strong> {{ ipstack_info.longitude }}</li>
                                <li class="list-group-item"><strong>Jazyk:</strong> {{ ipstack_info.language }}</li>
                            </ul>
                            <br>
                            <br>
                        </div>
                        {% elif status == "no_api" %}
                            <div class="mt-4 text-center">
                                <h4 class="mb-3">❌ API nenalezeno! ❌</h4>
                                <h5 class="mb-3">Vložte API do souboru <strong class="text-danger">api.env</strong></h5>
                            </div>
                        {% elif status == "invalid_api" %}
                            <div class="mt-4 text-center">
                                <h4 class="mb-3">❌ Zadané API není zadané nebo není platné ❌</h4>
                                <h5 class="mb-3">API získáte <a href="https://ipstack.com" target="_blank">zde</a></h5>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}