{% extends 'index.html' %}
{% load rest_framework %}
{% load widget_tweaks %}
{% block auth %}

    <style>
    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 1rem;
        background-color: #222;
        color: #fff;
    }
    .sidebar a {
        display: block;
        padding: 0.5rem 0;
        color: #ddd;
        text-decoration: none;
    }
    .sidebar a:hover {
        color: #FFD700;
        text-decoration: underline;
    }
    </style>

    <div class="row justify-content-center">
    {% if results %}
    <div class="col-md-3 col-lg-2 sidebar">
            <h4 class="text-warning">🧭 Navigace</h4>
            <a href="#google_dork">Google Dork</a>
            <a href="#fullhunt">FullHunt</a>
            <a href="#rev_img">Google Reverse Image Search</a>
            <a href="#shodan_search"> Shodan Search</a>
            <a href="#shodan_host">Shodan IP Search</a>
            <a href="#download">Stažení JSON</a>
        </div>
    {% endif %}
    <div class="col-md-6">
        <div class="card shadow-lg border-0 result-card">
            <div class="card-body">
                <div class="card-body text-center">
                        <h2 class="card-title mb-4 text-primary">🔮 Universal OSINT Tool</h2>
                    {% if not results %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="mb-4">
                                {{ form.service.label_tag }}
                                {{ form.service|add_class:"form-control form-control-dark" }}
                            </div>

                            <div class="mb-4">
                                {{ form.host.label_tag }}
                                {{ form.host|add_class:"form-control form-control-dark" }}
                            </div>

                            <div class="mb-4">
                                {{ form.image_url.label_tag }}
                                {{ form.image_url|add_class:"form-control form-control-dark" }}
                            </div>

                            <div class="mb-4">
                                {{ form.image_file.label_tag }}
                                {{ form.image_file|add_class:"form-control form-control-dark" }}
                            </div>

                            <hr class="my-5">
                            <h5 class="text-center mb-4">Google Dorking Parametry</h5>


                            <div class="col-md">
                                {{ form.query.label_tag }}
                                {{ form.query|add_class:"form-control form-control-dark" }}
                            </div>
                        <div class="row">
                            <div class="col-md">
                                {{ form.site.label_tag }}
                                {{ form.site|add_class:"form-control form-control-dark" }}
                            </div>

                            <div class="col-md">
                                {{ form.filetype.label_tag }}
                                {{ form.filetype|add_class:"form-control form-control-dark" }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md">
                                {{ form.intitle.label_tag }}
                                {{ form.intitle|add_class:"form-control form-control-dark" }}
                            </div>

                            <div class="col-md">
                                {{ form.intext.label_tag }}
                                {{ form.intext|add_class:"form-control form-control-dark" }}
                            </div>
                        </div>
                            <hr class="my-5">

                            <div class="mb-4 text-center">
                                <label class="form-label">Vyberte nástroje:</label><br>
                                <div class="text-center">
                                    <div class="form-check d-inline-block text-start me-4">
                                        {{ form.shodan|add_class:"form-check-input" }}
                                        <label class="form-check-label ms-2" for="{{ form.shodan.id_for_label }}">Shodan</label>
                                    </div>
                                    <div class="form-check d-inline-block text-start me-4">
                                        {{ form.ipstack|add_class:"form-check-input" }}
                                        <label class="form-check-label ms-2" for="{{ form.ipstack.id_for_label }}">IPStack</label>
                                    </div>
                                    <div class="form-check d-inline-block text-start me-4">
                                        {{ form.fullhunt|add_class:"form-check-input" }}
                                        <label class="form-check-label ms-2" for="{{ form.fullhunt.id_for_label }}">FullHunt</label>
                                    </div>
                                    <div class="form-check d-inline-block text-start me-4">
                                        {{ form.reverse_image|add_class:"form-check-input" }}
                                        <label class="form-check-label ms-2" for="{{ form.reverse_image.id_for_label }}">Google Reverse Image Search</label>
                                    </div>
                                    <div class="form-check d-inline-block text-start me-4">
                                        {{ form.dorking|add_class:"form-check-input" }}
                                        <label class="form-check-label ms-2" for="{{ form.dorking.id_for_label }}">Google Dorking Search</label>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-primary">Vyhledat</button>
                            </div>
                        </form>
                        {% endif %}

                {% if errors %}
                <h4 class="text-danger">ERRORS</h4>
                <ul class="list-group">
                    {% for error in errors %}
                    <li class="list-group-item">
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                    {% if results %}
                    <h4 class="text-primary mb-3">Zjištěné údaje:</h4>
                    <ul class="list-group list-group-flush">
                    <div id="accordion">
                        {% if results.google_dork %}
                            <li class="list-group-item">
                                <h4><strong class="text-warning" id="google_dork">GOOGLE DORKING</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <div class="mt-4 text-start">
                            <h4 class="text-primary">Výsledky:</h4>
                            <div class="row">
                                {% for item in results.google_dork.organic_results %}
                                    <div class="col-md-6">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {% if item.favicon %}
                                                        <img src="{{ item.favicon }}" alt="Favicon" width="16" height="16" class="me-1">
                                                    {% endif %}
                                                    <a href="{{ item.link }}" target="_blank" class="text-decoration-none">
                                                        {{ item.title }}
                                                    </a>
                                                </h5>
                                                <p class="card-text">
                                                    <strong>Zdroj:</strong> {{ item.source }} <br>
                                                    <strong>Zobrazovaný odkaz:</strong> {{ item.displayed_link }}
                                                </p>
                                                <p class="card-text">
                                                    {{ item.snippet }}
                                                </p>
                                                <a href="{{ item.redirect_link }}" class="btn btn-primary btn-sm" target="_blank">
                                                    🔗 Otevřít stránku
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                            </li>
                            <hr>
                        {% endif %}
                        {% if results.ipstack %}
                            <li class="list-group-item">
                                <h4><strong class="text-warning" id="ipstack">IPSTACK</strong></h4>
                            </li>
                            <li class="list-group-item">
                                <strong>IP:</strong> {{ results.ipstack.ip }}<br>
                                <strong>Země:</strong> {{ results.ipstack.country }}<br>
                                <strong>Město:</strong> {{ results.ipstack.city }}<br>
                                <strong>Region:</strong> {{ results.ipstack.region }}<br>
                                <strong>ZIP:</strong> {{ results.ipstack.zip }}<br>
                                <strong>Zeměpisná šířka:</strong> {{ results.ipstack.latitude }}<br>
                                <strong>Zeměpisná výška:</strong> {{ results.ipstack.longitude }}<br>
                                <strong>Jazyk:</strong> {{ results.ipstack.language }}<br>
                            </li>
                            <hr>
                        {% endif %}

                        {% if results.fullhunt %}
                            <li class="list-group-item">
                                <h4><strong class="text-warning" id="fullhunt">FULLHUNT</strong></h4>
                            </li>
                            {% for item in results.fullhunt %}

                                <li class="list-group-item p-3">
                                    <div class="card shadow-sm border-0">
                                        <div class="card-body">
                                            <h5 class="card-title text-primary">
                                                🖥️ Hostitel: <span class="text-danger">{{ item.host }}</span>
                                            </h5>
                                            <p><strong>Doména:</strong> {{ item.domain }}</p>
                                            <p><strong>IP adresa:</strong> {{ item.ip_address }}</p>
                                            <p><strong>Stav HTTP:</strong> {{ item.http_status_code }}</p>
                                            <p><strong>Titulek stránky:</strong> {{ item.http_title }}</p>
                                            <p><strong>Porty:</strong> {{ item.network_ports|join:", " }}</p>
                                            <p><strong>Tagy:</strong> {{ item.tags|join:", " }}</p>

                                            <hr>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h6 class="text-secondary">🌐 DNS informace</h6>
                                                    <p><strong>A záznamy:</strong> {{ item.dns.a|join:", " }}</p>
                                                    <p><strong>AAAA záznamy:</strong> {{ item.dns.aaaa|join:", " }}</p>
                                                    <p><strong>CNAME:</strong> {{ item.dns.cname|join:", " }}</p>
                                                    <p><strong>PTR:</strong> {{ item.dns.ptr|join:", " }}</p>
                                                </div>

                                                <div class="col-md-6">
                                                    <h6 class="text-secondary">📡 Informace o síti</h6>
                                                    <p><strong>ASN:</strong> {{ item.ip_metadata.asn }}</p>
                                                    <p><strong>ISP:</strong> {{ item.ip_metadata.isp }}</p>
                                                    <p><strong>Organizace:</strong> {{ item.ip_metadata.organization }}</p>
                                                    <p><strong>Město:</strong> {{ item.ip_metadata.city_name }}</p>
                                                    <p><strong>Region:</strong> {{ item.ip_metadata.region }}</p>
                                                    <p><strong>PSČ:</strong> {{ item.ip_metadata.postal_code }}</p>
                                                    <p><strong>Země:</strong> {{ item.ip_metadata.country_name }}</p>
                                                    <p><strong>Latitude:</strong> {{ item.ip_metadata.location_latitude }}</p>
                                                    <p><strong>Longitude:</strong> {{ item.ip_metadata.location_longitude }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            <li class="list-group-item">
                                <h4><strong>Hostitel:</strong><span class="text-danger"> {{ item.host }}</span></h4>
                                <strong>Doména:</strong> {{ item.domain }}<br>
                                <strong>IP adresa:</strong> {{ item.ip_address }}<br>
                                <strong>Stav HTTP:</strong> {{ item.http_status_code }}<br>
                                <strong>Titulek stránky:</strong> {{ item.http_title }}<br>
                                <strong>Porty:</strong> {{ item.network_ports|join:", " }}<br>
                                <strong>Tagy:</strong> {{ item.tags|join:", " }}<br>

                                <br>

                                <h5 class="text-secondary">DNS informace:</h5>
                                <strong>DNS Záznamy (A):</strong> {{ item.dns.a|join:", " }}<br>
                                <strong>DNS Záznamy (AAAA):</strong> {{ item.dns.aaaa|join:", " }}<br>
                                <strong>CNAME:</strong> {{ item.dns.cname|join:", " }}<br>
                                <strong>PTR:</strong> {{ item.dns.ptr|join:", " }}<br>

                                <br>

                                <h5 class="text-secondary">Informace o síti:</h5>
                                <strong>ASN:</strong> {{ item.ip_metadata.asn }}<br>
                                <strong>ISP:</strong> {{ item.ip_metadata.isp }}<br>
                                <strong>Organizace:</strong> {{ item.ip_metadata.organization }}<br>
                                <strong>Město:</strong> {{ item.ip_metadata.city_name }}<br>
                                <strong>Země:</strong> {{ item.ip_metadata.country_name }}<br>
                                <strong>Region:</strong> {{ item.ip_metadata.region }}<br>
                                <strong>Latitude:</strong> {{ item.ip_metadata.location_latitude }}<br>
                                <strong>PSČ:</strong> {{ item.ip_metadata.postal_code }}<br>
                                <strong>Longitude:</strong> {{ item.ip_metadata.location_longitude }}<br>
                            </li>
                            {% endfor %}
                            <hr>
                        {% endif %}

                        {% if results.reverse_image %}
                            <li class="list-group-item">
                                <h4><strong class="text-warning" id="rev_img">REVERSE IMAGE SEARCH</strong></h4>
                            </li>
                        <li class="list-group-item">
                            <div class="mt-4 text-start">
                            <h4 class="text-primary">Výsledky:</h4>
                            <div class="row">
                                {% for item in results.reverse_image.image_results %}
                                    <div class="col-md-6">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {% if item.favicon %}
                                                        <img src="{{ item.favicon }}" alt="Favicon" width="16" height="16" class="me-1">
                                                    {% endif %}
                                                    <a href="{{ item.link }}" target="_blank" class="text-decoration-none">
                                                        {{ item.title }}
                                                    </a>
                                                </h5>
                                                <p class="card-text">
                                                    <strong>Zdroj:</strong> {{ item.source }} <br>
                                                    <strong>Zobrazovaný odkaz:</strong> {{ item.displayed_link }}
                                                </p>
                                                <p class="card-text">
                                                    {{ item.snippet }}
                                                </p>
                                                <a href="{{ item.redirect_link }}" class="btn btn-primary btn-sm" target="_blank">
                                                    🔗 Otevřít stránku
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        </li>
                        <hr>
                        {% endif %}
                        {% if results.shodan_search %}
                            <li class="list-group-item">
                                <h4 class="text-warning" id="shodan_search">🔍 SHODAN SERVICE SEARCH</h4>
                            </li>

                            {% for item in results.shodan_search %}
                            <li class="list-group-item p-3">
                                <div class="card shadow-sm border-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-primary">
                                            🌐 Hostitel: <span class="text-danger">{{ item.ip }}</span>
                                        </h5>
                                        <p><strong>Port:</strong> {{ item.port }} | <strong>Produkt:</strong> {{ item.product }}</p>
                                        <p><strong>Web titulek:</strong> {{ item.title }}</p>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6 class="text-secondary">🧾 Doménové informace</h6>
                                                <p><strong>Domény:</strong> {{ item.domains|join:", " }}</p>
                                                <p><strong>Hostnames:</strong> {{ item.hostnames|join:" | " }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class="text-secondary">🔐 SSL certifikát</h6>
                                                <p><strong>Subject CN:</strong> {{ item.ssl_subject_cn }}</p>
                                                <p><strong>Issuer CN:</strong> {{ item.ssl_issuer_cn }}</p>
                                                <p><strong>Platnost:</strong> {{ item.ssl_valid_from }} – {{ item.ssl_valid_to }}</p>
                                                <p><strong>Expirovaný:</strong> {{ item.ssl_expired }}</p>
                                                <p><strong>Cipher:</strong> {{ item.ssl_cipher_name }} ({{ item.ssl_version }})</p>
                                            </div>
                                        </div>

                                        <hr>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <h6 class="text-secondary">🌐 Síť</h6>
                                                <p><strong>Organizace:</strong> {{ item.org }}</p>
                                                <p><strong>ISP:</strong> {{ item.isp }}</p>
                                            </div>
                                            <div class="col-md-6">
                                                <h6 class="text-secondary">📍 Geolokace</h6>
                                                <p><strong>Město:</strong> {{ item.city }}</p>
                                                <p><strong>Země:</strong> {{ item.country }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            <hr>
                        {% endif %}

                        {% if results.shodan_host %}
                            <li class="list-group-item">
                                <h4><strong class="text-warning" id="shodan_host">SHODAN IP SEARCH</strong></h4>
                            </li>
                            {% for item in results.shodan_host.matches %}
                                <li class="list-group-item">
                                    <strong>Hostnames: </strong>
                                    {% for value in item.hostnames %}
                                    | {{ value }} |
                                    {% endfor %}
                                </li>
                                <li class="list-group-item">
                                    <strong>IP: </strong>{{ item.ip_str }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Data: </strong>{{ item.data }}
                                </li>
                                <br>
                            {% endfor %}
                        {% endif %}
                    </div>
                    </ul>
                    <br>

                    <a href="{% url 'download_results' %}" class="btn btn-success mt-3" id="download"><strong>📥 Stáhnout JSON</strong></a>
                {% endif %}
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}